.navigation-ul {
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.navigation-li {
  float: left;
  margin-top: 0px;
}

.logo {
  display: block;
  color: #2e2e2e;
  text-align: center;
  margin: 10px 4px;
  padding: 10px 10px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 19px;
  font-weight: 700;
}

.nav-button {
  display: block;
  color: #616061;
  text-align: center;
  margin: 14px 4px;
  padding: 10px 10px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
}

.nav-button:hover {
  color: #2e2e2e;
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

html {
  background-color: #f8f8f8;
}

button {
  background-color: white;
  color: #5b5dee;
  border: 2px solid #5b5dee;
  margin: 12px 0px;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  border-radius: 6px;
}

button:hover {
  border: 2px solid #5b5dee;
  background-color: #5b5dee;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.create-container {
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 500px;
  padding: 30px;
  margin: 100px 20px;
  border-radius: 6px;
}

.create-container-image {
  width: 500px;
  padding: 30px;
  margin: 20px;
  border-radius: 6px;
}

.footer {
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

.footer-item {
  margin-top: 30px;
  width: 250px;
  height: 200px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); */
}

li {
  display: block;
  margin-top: 10px;
}

.footer-link {
  text-decoration: none;
  color: #616061;
}

.footer-link:hover {
  color: #8d8d8d;
}

h4 {
  margin: 5px 0px;
}

.login-container {
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 400px;
  padding: 30px;
  margin: 140px auto 300px auto;
  border-radius: 6px;
}

input {
  width: 100%;
  margin: 10px 0;
  font-size: 16px;
}

input[type='text'],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type='password'],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.hyperlinks {
  color: #c45bee;
  text-decoration: none;
  font-weight: 700;
}

.hyperlinks:hover {
  color: #cd94e4;
}
