.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 300px; /* Footer height */
}

.navigation-ul {
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.navigation-li {
  float: left;
  margin-top: 0px;
}

.logo {
  display: block;
  color: #2e2e2e;
  text-align: center;
  margin: 10px 4px;
  padding: 10px 10px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 19px;
  font-weight: 700;
}

.nav-button {
  display: block;
  color: #616061;
  text-align: center;
  margin: 14px 4px;
  padding: 10px 10px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
}

.nav-button:hover {
  color: #2e2e2e;
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.nav-button-email {
  display: block;
  color: #5b5dee;
  text-align: center;
  margin: 14px 4px;
  padding: 10px 10px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
}

/* .nav-button-email:hover {
  color: #2e2e2e;
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.3s;
} */

html {
  background-color: #f8f8f8;
}

button {
  background-color: white;
  color: #5b5dee;
  border: 2px solid #5b5dee;
  margin: 12px 0px;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  border-radius: 4px;
}

button:hover {
  border: 2px solid #5b5dee;
  background-color: #f2f2ff;
  color: #5b5dee;
  cursor: pointer;
  transition: 0.3s;
}

button:focus {
  outline: none;
}

.button-close {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: 2px solid rgba(0, 0, 0, 0);
  margin: 5px;
  padding: 5px 5px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  border-radius: 6px;
  top: 2px;
  right: 2px;
}

.button-close:hover {
  border: 2px solid rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  color: #5b5dee;
  cursor: pointer;
  transition: 0.3s;
}

.button-alt {
  background-color: #5b5dee;
  color: white;
  border: 2px solid #5b5dee;
  margin: 12px 0px;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  border-radius: 4px;
  transition: 0.3s;
}

.button-alt:hover {
  border: 2px solid #3b3dd4;
  background-color: #3b3dd4;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.container {
  /* margin-top: 50px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-about {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.create-container-about {
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 500px;
  padding: 30px;
  margin: 0 20px;
  border-radius: 6px;
}

.create-container {
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 500px;
  padding: 30px;
  margin: 100px 20px;
  border-radius: 6px;
}

.create-container-image {
  width: 500px;
  padding: 30px;
  margin: 20px;
  border-radius: 6px;
}

.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;

  display: block;
  float: left;
  width: 100%;
}

.footer {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  padding: 20px;
}

.footer-item {
  margin-top: 30px;
  width: 250px;
  height: 200px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); */
}

li {
  display: block;
  margin-top: 10px;
}

.footer-link {
  text-decoration: none;
  color: #616061;
}

.footer-link:hover {
  color: #8d8d8d;
}

h4 {
  margin: 5px 0px;
}

.login-container {
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 350px;
  padding: 30px;
  margin: 0px auto 100px auto;
  border-radius: 6px;
}

input {
  width: 100%;
  margin: 10px 0;
  font-size: 16px;
}

input[type='text'],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type='password'],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.hyperlinks {
  color: #c45bee;
  text-decoration: none;
  font-weight: 700;
}

.hyperlinks:hover {
  color: #cd94e4;
}

.server-container {
  /* margin-top: 50px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.server {
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(0, 0, 0, 0.1);
  width: 150px;
  height: 150px;
  padding: 30px;
  border-radius: 6px;
  transition: 0.3s;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.server:hover {
  cursor: pointer;
  border: 2px solid #5b5dee;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
  margin-top: 0px;
  margin-bottom: 20px;
  transition: 0.3s;
}

.tool-container {
  /* margin-top: 50px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tool {
  width: 350px;
  /* height: 150px; */
  padding: 5px;
  border-radius: 6px;
  transition: 0.3s;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
}

/* .active {
  background-color: rgb(235, 235, 235);
} */

.tool-header-1 {
  background-color: #5b5dee;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  /* padding: 10px; */
  color: white;
  border-radius: 6px 6px 0px 0px;
  border: 2px solid rgba(0, 0, 0, 0.1);
}

h3 {
  margin: 5px;
}

/* .tool-header-1:hover {
  cursor: pointer;
  background-color: #3b3dc5;
} */

.tool-header-2 {
  background-color: #ee5b6e;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  padding: 10px;
  color: white;
  border-radius: 6px;

  border: 3px solid rgba(0, 0, 0, 0.1);
}

.tool-header-2:hover {
  cursor: pointer;
  background-color: #c53b46;
}

.tool-header-3 {
  background-color: #50da50;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  padding: 10px;
  color: white;
  border-radius: 6px;

  border: 3px solid rgba(0, 0, 0, 0.1);
}

.tool-header-3:hover {
  cursor: pointer;
  background-color: #29b335;
}

.tool-content {
  padding: 10px 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  border-radius: 0px 0px 6px 6px;
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.status-container {
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 600px;
  padding: 30px;
  border-radius: 6px;
  transition: 0.3s;
  margin: auto;
  text-align: center;
}

.create-classroom-container {
  /* margin-top: 50px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.create-classroom {
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(0, 0, 0, 0.1);
  width: 190px;
  height: 120px;
  padding: 30px;
  border-radius: 6px;
  transition: 0.3s;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.create-classroom:hover {
  cursor: pointer;
  border: 2px solid #5b5dee;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
  transition: 0.3s;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 6px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

/*Large Screen*/
@media screen and (min-width: 1300px) {
  .mobile-nav {
    display: block;
  }
  .content-wrap {
    padding-bottom: 300px; /* Footer height */
  }
}

/*Large Screen*/
@media screen and (max-width: 1299px) {
  .mobile-nav {
    display: block;
  }
  .content-wrap {
    padding-bottom: 500px; /* Footer height */
  }
}

/*Large Screen*/
@media screen and (max-width: 800px) {
  .mobile-nav {
    display: none;
  }
  .content-wrap {
    padding-bottom: 800px; /* Footer height */
  }
}

/*Large Screen*/
@media screen and (max-width: 540px) {
  .mobile-nav {
    display: none;
  }
  .content-wrap {
    padding-bottom: 1200px; /* Footer height */
  }
}

textarea {
  width: 100%;
  margin: 10px 0;
  font-size: 16px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
